fastapi==0.115.0
uvicorn==0.30.6
prometheus-client==0.21.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
setuptools==75.1.0   # opentelemetry-instrumentation 0.48b0 ainda importa pkg_resources
